apiVersion: apps/v1
kind: Deployment
metadata:
  name: anonymizer
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: anonymizer
  template:
    metadata:
      labels:
        app: anonymizer
        networkPolicy: client-only
        podDisruptionBudget: max-unavailable-one
        app.kubernetes.io/name: anonymizer
    spec:
      containers:
        - name: anonymizer
          image: tvvlmj/waltti-apc-anonymizer:edge
          imagePullPolicy: Always
          resources:
            # Autopilot only considers requests
            # GCP Autopilot does not accept less on 2023-04-20.
            # Check docs at https://cloud.google.com/kubernetes-engine/docs/concepts/autopilot-resource-requests
            requests:
              cpu: 500m
              memory: 512Mi
              ephemeral-storage: 100Mi
          envFrom:
            - configMapRef:
                name: anonymizer
          env:
            - name: VEHICLE_PROFILE_MAP_FILE
              value: /config/vehicle-profile-map.json
          volumeMounts:
            - name: anonymizer-secret-volume
              mountPath: "/secrets"
              readOnly: true
            - name: anonymizer-config
              mountPath: "/config"
              readOnly: true
          ports:
            - name: liveness-port
              containerPort: 8080
          livenessProbe:
            httpGet:
              path: /healthz
              port: liveness-port
            failureThreshold: 1
            periodSeconds: 10
          startupProbe:
            httpGet:
              path: /healthz
              port: liveness-port
            failureThreshold: 30
            periodSeconds: 2
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 10001
            runAsGroup: 10001
      volumes:
        - name: anonymizer-secret-volume
          secret:
            secretName: anonymizer
        - name: anonymizer-config
          configMap:
            name: anonymizer
