apiVersion: apps/v1
kind: Deployment
metadata:
  name: anonymizer
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: anonymizer
  template:
    metadata:
      labels:
        app: anonymizer
        networkPolicy: client-only
        podDisruptionBudget: max-unavailable-one
        app.kubernetes.io/name: anonymizer
    spec:
      containers:
        - name: anonymizer
          image: tvvlmj/waltti-apc-anonymizer:edge
          imagePullPolicy: Always
          resources:
            # Autopilot only considers requests
            # GCP Autopilot does not accept less on 2023-04-20.
            # Check docs at https://cloud.google.com/kubernetes-engine/docs/concepts/autopilot-resource-requests
            requests:
              cpu: 500m
              memory: 512Mi
              ephemeral-storage: 100Mi
          env:
            - name: ACCEPTED_DEVICE_MAP
              valueFrom:
                configMapKeyRef:
                  name: anonymizer
                  key: ACCEPTED_DEVICE_MAP
            - name: AUTHORITY_MAP
              valueFrom:
                configMapKeyRef:
                  name: anonymizer
                  key: AUTHORITY_MAP
            - name: HEALTH_CHECK_PORT
              valueFrom:
                configMapKeyRef:
                  name: anonymizer
                  key: HEALTH_CHECK_PORT
            - name: PINO_LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: anonymizer
                  key: PINO_LOG_LEVEL
            - name: PULSAR_APC_SUBSCRIPTION
              valueFrom:
                configMapKeyRef:
                  name: anonymizer
                  key: PULSAR_APC_SUBSCRIPTION
            - name: PULSAR_BLOCK_IF_QUEUE_FULL
              valueFrom:
                configMapKeyRef:
                  name: anonymizer
                  key: PULSAR_BLOCK_IF_QUEUE_FULL
            - name: PULSAR_COMPRESSION_TYPE
              valueFrom:
                configMapKeyRef:
                  name: anonymizer
                  key: PULSAR_COMPRESSION_TYPE
            - name: PULSAR_PROFILE_READER_NAME
              valueFrom:
                configMapKeyRef:
                  name: anonymizer
                  key: PULSAR_PROFILE_READER_NAME
            - name: PULSAR_TLS_VALIDATE_HOSTNAME
              valueFrom:
                configMapKeyRef:
                  name: anonymizer
                  key: PULSAR_TLS_VALIDATE_HOSTNAME
            - name: PULSAR_APC_CONSUMER_TOPICS_PATTERN
              valueFrom:
                configMapKeyRef:
                  name: anonymizer
                  key: PULSAR_APC_CONSUMER_TOPICS_PATTERN
                  optional: true
            - name: PULSAR_PRODUCER_TOPIC
              valueFrom:
                configMapKeyRef:
                  name: anonymizer
                  key: PULSAR_PRODUCER_TOPIC
                  optional: true
            - name: PULSAR_PROFILE_READER_TOPIC
              valueFrom:
                configMapKeyRef:
                  name: anonymizer
                  key: PULSAR_PROFILE_READER_TOPIC
                  optional: true
            - name: PULSAR_SERVICE_URL
              valueFrom:
                configMapKeyRef:
                  name: anonymizer
                  key: PULSAR_SERVICE_URL
                  optional: true
            - name: IS_INITIAL_PROFILE_READING_REQUIRED
              valueFrom:
                configMapKeyRef:
                  name: anonymizer
                  key: IS_INITIAL_PROFILE_READING_REQUIRED
                  optional: true
            - name: VEHICLE_PROFILE_MAP_FILE
              value: /config/vehicle-profile-map.json
          volumeMounts:
            - name: anonymizer-config
              mountPath: "/config"
              readOnly: true
          ports:
            - name: liveness-port
              containerPort: 8080
          livenessProbe:
            httpGet:
              path: /healthz
              port: liveness-port
            failureThreshold: 1
            periodSeconds: 10
          startupProbe:
            httpGet:
              path: /healthz
              port: liveness-port
            failureThreshold: 30
            periodSeconds: 2
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 10001
            runAsGroup: 10001
      volumes:
        - name: anonymizer-secret-volume
          secret:
            secretName: anonymizer
        - name: anonymizer-config
          configMap:
            name: anonymizer
