nameSuffix: -fi-kuopio
resources:
- ../../base

commonLabels:
  app.kubernetes.io/instance: vehicle-position-splitter-fi-kuopio
  app: vehicle-position-splitter-fi-kuopio

secretGenerator:
  - name: vehicle-position-splitter
    literals:
    - http-username=foo
    - http-password=bar
    options:
      disableNameSuffixHash: true

