namespace: staging
resources:
  - ../../base

configMapGenerator:
  - name: mqtt-deduplicator
    behavior: merge
    literals:
      - "PULSAR_CONSUMER_TOPICS_PATTERN=persistent://apc-staging/source/mqtt-apc-from-vehicle"
      - "PULSAR_PRODUCER_TOPIC=persistent://apc-staging/deduplicated/mqtt-apc-from-vehicle-deduplicated"
      - "PINO_LOG_LEVEL=info"
      # - "PULSAR_OAUTH2_AUDIENCE=urn:sn:pulsar:waltti:beta"
      - "PULSAR_SERVICE_URL=pulsar://pulsar-broker.pulsar.svc.cluster.local:6650"
      - "DEDUPLICATION_WINDOW_IN_SECONDS=3600"
      - "CACHE_WINDOW_IN_SECONDS=3600"
      - "PULSAR_CACHE_READER_RECEIVER_QUEUE_SIZE=10"
      - "CACHE_REBUILD_DISABLE_SEEK=true"
      
patches:
  - path: history-limit.yaml

generators:
  - ./ksops-secret-generator.yaml