namespace: dev
resources:
  - ../../base

configMapGenerator:
  - name: anonymizer
    behavior: merge
    literals:
      - "PINO_LOG_LEVEL=debug"
      - "PULSAR_APC_CONSUMER_TOPICS_PATTERN=persistent://apc-sandbox/aggregated/aggregated-apc-journey"
      - "PULSAR_PRODUCER_TOPIC=persistent://apc-sandbox/anonymized/anonymized-apc-journey"
      - "PULSAR_PROFILE_READER_TOPIC=persistent://apc-sandbox/profiles/vehicle-anonymization-profiles"
      # - "PULSAR_OAUTH2_AUDIENCE=urn:sn:pulsar:waltti:alpha"
      - "PULSAR_SERVICE_URL=pulsar://pulsar-broker.pulsar.svc.cluster.local:6650"
      # Skip initial profile reading - will pick up profiles from keepUpdatingProfiles loop
      - "IS_INITIAL_PROFILE_READING_REQUIRED=false"
      # Dynamic ACCEPTED_DEVICE_MAP from vehicle catalogue topics
      - "PULSAR_VEHICLE_REGISTRY_CONSUMER_TOPICS_PATTERN=persistent://apc-sandbox/source/vehicle-catalogue-.*"
      - "PULSAR_VEHICLE_REGISTRY_SUBSCRIPTION=anonymizer-vehicle-registry-dev"

patches:
  - path: history-limit.yaml
