namespace: staging
resources:
  - ../../base

configMapGenerator:
  - name: mqtt-pulsar-forwarder
    behavior: merge
    literals:
      - "MQTT_URL=mqtts://mqtts-staging.apc.waltti.fi"
      - "MQTT_CLIENT_ID_PREFIX=mqtt-pulsar-forwarder-staging"
      - "PINO_LOG_LEVEL=info"
      - "PULSAR_TOPIC=persistent://apc-staging/source/mqtt-apc-from-vehicle"
      # - "PULSAR_OAUTH2_AUDIENCE=urn:sn:pulsar:waltti:beta"
      - "PULSAR_SERVICE_URL=pulsar://pulsar-broker.pulsar.svc.cluster.local:6650"
      
patches:
  - path: history-limit.yaml

generators:
  - ./ksops-secret-generator.yaml