apiVersion: v1
kind: Secret
metadata:
    name: mqtt-pulsar-forwarder
    annotations:
        kustomize.config.k8s.io/behavior: replace
    labels:
        app.kubernetes.io/name: mqtt-pulsar-forwarder
data:
    mqtt-username: ENC[AES256_GCM,data:20vNAdd+ies2JSY2AHX2Smv+nKOdgdG3k4/py72GJBw7Sm0KkQzNhigUES8=,iv:4I5rnkk11cazb98fvhkTSYeMWZk0NoQfqKodZ7I5LD4=,tag:nWtDE/JD4XIeLYgqom3Z+w==,type:str]
    mqtt-password: ENC[AES256_GCM,data:MqZb6a9Z+ZWwyO93RzBDZQ==,iv:03p3NoYzFKx3qaYiw1M5yzAIP34Y9ScSDffXJvnKDoY=,tag:zk7yWp+O2Az8V86aFy8hag==,type:str]
sops:
    kms: []
    gcp_kms:
        - resource_id: projects/apc-staging-388907/locations/global/keyRings/sops/cryptoKeys/sops-key
          created_at: "2025-11-27T12:24:39Z"
          enc: CiQAUhREB3v36xTpnjUFG0E+A3Gj/g224rvUdIB8k+O7g9gVYzESSQD4ANZe5bPnucJ8YFN9KuAqxhwQC2HdW+5CA2gbSttDvxCo4j5BiwQ0q4MbgFGw2TY2IO9Kzx52ZGg7NKL8/TNWYDXbWp19Yqg=
    azure_kv: []
    hc_vault: []
    age: []
    lastmodified: "2025-11-27T12:24:39Z"
    mac: ENC[AES256_GCM,data:NuJ8TK6XIAV/u/sWcq1w3wTZKBXZXwdqwsrd5pmJaVFaTdsY6KtNjGHUBdF7jhfKr3K3EfjJxF3ToDlINEFG03y11n5UpMdRMJVmYqbBlNETVlSoxI4CbesEfwIiOMmg8YPX1yKlV1hwMq07pq0p8auLB8adF5NWMGNpIcUkqW8=,iv:FqP4CQwQZ+BT7SRE8yMSVUM0YedQHW35C+YQ/X20GtM=,tag:RgMjaNNKfAPfiZvKlj8fGA==,type:str]
    pgp: []
    encrypted_regex: ^(data)$
    version: 3.7.3
