apiVersion: batch/v1
kind: CronJob
metadata:
  name: vehicle-anonymization-profiler
spec:
  schedule: "7 2/6 * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: vehicle-anonymization-profiler
              image: tvvlmj/waltti-apc-vehicle-anonymization-profiler:edge
              imagePullPolicy: Always
              resources:
                requests:
                  cpu: "8"
                  memory: 16Gi
                limits:
                  cpu: "36"
                  memory: 32Gi
              envFrom:
                - configMapRef:
                    name: vehicle-anonymization-profiler
              ports:
                - name: liveness-port
                  containerPort: 8080
              livenessProbe:
                httpGet:
                  path: /healthz
                  port: liveness-port
                failureThreshold: 1
                periodSeconds: 10
              startupProbe:
                httpGet:
                  path: /healthz
                  port: liveness-port
                failureThreshold: 30
                periodSeconds: 2
                initialDelaySeconds: 5
              securityContext:
                allowPrivilegeEscalation: true
