namespace: dev
resources:
  - ../../base

configMapGenerator:
  - name: mqtt-deduplicator
    behavior: merge
    literals:
      - "PULSAR_CONSUMER_TOPICS_PATTERN=persistent://apc-sandbox/source/mqtt-apc-from-vehicle"
      - "PULSAR_PRODUCER_TOPIC=persistent://apc-sandbox/deduplicated/mqtt-apc-from-vehicle-deduplicated"
      - "PINO_LOG_LEVEL=debug"
      # - "PULSAR_OAUTH2_AUDIENCE=urn:sn:pulsar:waltti:alpha"
      - "PULSAR_SERVICE_URL=pulsar://pulsar-broker.pulsar.svc.cluster.local:6650"
      - "PULSAR_CACHE_READER_RECEIVER_QUEUE_SIZE=10"
      
patches:
  - path: history-limit.yaml

generators:
  - ./ksops-secret-generator.yaml