---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dev
namePrefix: dev-
resources:
  - ../../base
  - mqtt-pulsar-forwarder-secret.yaml
  - namespace.yaml
configMapGenerator:
  - name: mqtt-pulsar-forwarder-config
    behavior: merge
    literals:
      - "MQTT_URL=mqtts://dev.mqtt.apc.lmj.fi"
      - "PULSAR_TOPIC=persistent://apc-dev/source/mqtt-apc-from-vehicle"
images:
  - name: ghcr.io/tvv-lippu-ja-maksujarjestelma-oy/mqtt-pulsar-forwarder
    newTag: sha-d0cd6db92efd058286cf9813913c58100ec92d63

# Add labeling here so that it affects also the resources in this
# kustomization.yaml.

# Add general labeling.
transformers:
  - add-label-created-by-managed-by.yaml
# Add app-specific labels, also within Deployment template.
patches:
  - patch: |-
      - op: add
        path: /metadata/labels/app.kubernetes.io~1instance
        value: dev-mqtt-pulsar-forwarder
      - op: add
        path: /metadata/labels/app.kubernetes.io~1version
        value: sha-d0cd6db92efd058286cf9813913c58100ec92d63
      - op: add
        path: /metadata/labels/app.kubernetes.io~1component
        value: mqtt-data-source
      - op: add
        path: /metadata/labels/app.kubernetes.io~1part-of
        value: data-source
    target:
      labelSelector: "app.kubernetes.io/name=mqtt-pulsar-forwarder"
  - patch: |-
      - op: add
        path: /spec/template/metadata/labels/app.kubernetes.io~1instance
        value: dev-mqtt-pulsar-forwarder
      - op: add
        path: /spec/template/metadata/labels/app.kubernetes.io~1version
        value: sha-d0cd6db92efd058286cf9813913c58100ec92d63
      - op: add
        path: /spec/template/metadata/labels/app.kubernetes.io~1component
        value: mqtt-data-source
      - op: add
        path: /spec/template/metadata/labels/app.kubernetes.io~1part-of
        value: data-source
    target:
      kind: Deployment
      labelSelector: "app.kubernetes.io/name=mqtt-pulsar-forwarder"
