nameSuffix: -rtpi
resources:
  - ../../base

commonLabels:
  app.kubernetes.io/instance: pulsar-mqtt-forwarder-rtpi
  app: pulsar-mqtt-forwarder-rtpi

secretGenerator:
  - name: pulsar-mqtt-forwarder
    literals:
      - mqtt-username=foo
      - mqtt-password=bar
    options:
      disableNameSuffixHash: true
