namespace: prod
resources:
  - ../../base

configMapGenerator:
  - name: anonymizer
    behavior: merge
    literals:
      - "PINO_LOG_LEVEL=info"
      - "PULSAR_APC_CONSUMER_TOPICS_PATTERN=persistent://apc-prod/aggregated/aggregated-apc-journey"
      - "PULSAR_PRODUCER_TOPIC=persistent://apc-prod/anonymized/anonymized-apc-journey"
      - "PULSAR_PROFILE_READER_TOPIC=persistent://apc-prod/cleaned/vehicle-anonymization-profile"
      # - "PULSAR_OAUTH2_AUDIENCE=urn:sn:pulsar:waltti:prod"
      - "PULSAR_SERVICE_URL=pulsar://pulsar-broker.pulsar.svc.cluster.local:6650"

patches:
  - path: history-limit.yaml

